@mixin flex-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-space-between {
  display: flex !important;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-space-between-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

// у safari <= 14.1 нету поддержки gap.
@mixin flex-gap($gap) {
  display: flex;
  align-items: center;
  gap: $gap;
  grid-gap: $gap;
}

// у safari <= 14.1 нету поддержки gap. Лучше использовать flex-column-margin
@mixin flex-column-gap($gap) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}
