@import "flex";

@mixin container($maxWidth: 1302px) {
  margin: 0 auto;
  padding: 0 15px;
  max-width: $maxWidth;
}

@mixin absoluteCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin font-size ($fontSize: 14px, $lineHeight: normal, $fontWeight: 400) {
  font-size: $fontSize;
  line-height: $lineHeight;
  font-weight: $fontWeight;
}